<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/estiloEjercicio1.css">
    <title>ejercicio2</title>
</head>
<body>
<div class="container">
    <h1>Calculo de compras</h1>
  <form action="/ejercicio1" method="POST">
    <label for="nombre">Ingresa tu nombre</label>
    <input class="Recuadro" type="text" id="nombre" name="nombre" required>
    <label for="edad">Ingresa tu edad</label>
    <input class="Recuadro" type="number" id="edad" name="edad" required>
    <label for="numero">Ingresa la cantidad de tarros de pintura a comprar</label>
    <input class="Recuadro" type="number" id="numero" name="numero" required>
    <button type="submit">Enviar</button>
  </form>
    {% if nombre %}
    <p>Nombre del cliente: ${{nombre}}</p>
    <p>Total sin descuento: ${{tarros}}</p>
    <p>El descuento es: ${{descuento}}</p>
    <p>El total a pagar es de: ${{pagar}}</p>
    {% endif %}
</div>
</body>
</html>